/*
Template Name: Presentable
File: Forms CSS
Author: OS Templates
Author URI: http://www.os-templates.com/
Licence: <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share Alike 3.0 Unported License</a>
*/

form,
fieldset,
legend {
  margin: 0;
  padding: 0;
  border: none;
}
legend {
  display: none;
}
/* ----------------------------------------------Search Form-------------------------------------*/

#header #login {
  display: block;
  height: 26px;
  padding-top: 15px;
}
#header input {
  display: block;
  float: left;
  width: 80px;
  margin: 0 5px 0 0;
  padding: 5px;
  color: #362c20;
  background-color: #cbcfb5;
  border: 1px solid #dbdecd;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
}
#header input[type='submit'] {
  float: right;
  width: 50px;
  height: auto;
  margin: 0;
  padding: 4px;
}
/* ----------------------------------------------Forms in Content Area-------------------------------------*/

#header .button[disabled='disabled'],
#container .button[disabled='disabled'] {
  color: InactiveCaptionText;
}
#header a.button,
#container a.button {
  color: #444444;
  text-decoration: none;
  display: inline-block;
}
#container fieldset {
  display: block;
  width: 100%;
}
#container .text-box {
  width: 170px;
  border: 1px solid #cccccc;
}
#container textarea {
  width: 98%;
  border: 1px solid #cccccc;
  padding: 2px;
  overflow: auto;
}
#container .button {
  margin: 0;
  padding: 5px;
  background-color: #f7f7f7;
  border: 1px solid #cccccc;
}
#container .editor-label {
  float: left;
  width: 125px;
  text-align: right;
  margin: 4px 10px 0;
}
#container .editor-field {
  padding: 2px;
  margin: 3px 5px 3px 0;
}
#container .editor-field .optional {
  margin-left: 8px;
  font-size: .8em;
}
#container .field-validation-error {
  color: red;
}
#container .input-validation-error {
  border: 1px solid red;
  background-color: #ffeeee;
}
#container .validation-summary-errors {
  font-weight: bold;
  color: red;
}
/* ----------------------------------------------Newsletter-------------------------------------*/

#footer form {
  display: block;
  width: 300px;
  margin: 0;
  padding: 10px 0;
  border: none;
}
#footer input {
  display: block;
  float: left;
  width: 245px;
  margin: 0 5px 0 0;
  padding: 5px;
  color: #666666;
  background-color: white;
  border: 1px solid #1a3151;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
}
#footer input #news_go {
  width: auto;
  height: auto;
  margin: 0;
  padding: 4px;
}
