﻿.hidden {
	display: none;
}

#logo .link-to-home {
	.logo { float:left; }
	.side-text { float:left; }
}

#header .top-menu {
	float:right;

	.login-control { text-align:right; }
}

#copyright {
	.twitter-link { float:left; }

	.copyright-text { text-align:center; }

	.template-link {
		float: right;
		font-size: 8px;
	}
}

.user-welcome-message { margin-top:25px; }

#openid_form {
	.openid-identifier {
		height:28px;
		width:400px;
	}

	.last-option { margin:5px 0; }
}

.game-list-table {
	border-spacing:0;
	padding:0;
}

.game-type-list {
	list-style-position: inside;
	margin: 0;

	li {
		list-style-type: none;
		list-style-position: inside;
		padding: 2px 0;
	}
}