.hidden {
  display: none;
}
#logo .link-to-home .logo {
  float: left;
}
#logo .link-to-home .side-text {
  float: left;
}
#header .top-menu {
  float: right;
}
#header .top-menu .login-control {
  text-align: right;
}
#copyright .twitter-link {
  float: left;
}
#copyright .copyright-text {
  text-align: center;
}
#copyright .template-link {
  float: right;
  font-size: 8px;
}
.user-welcome-message {
  margin-top: 25px;
}
#openid_form .openid-identifier {
  height: 28px;
  width: 400px;
}
#openid_form .last-option {
  margin: 5px 0;
}
.game-list-table {
  border-spacing: 0;
  padding: 0;
}
.game-type-list {
  list-style-position: inside;
  margin: 0;
}
.game-type-list li {
  list-style-type: none;
  list-style-position: inside;
  padding: 2px 0;
}
