/*
Template Name: Presentable
File: Navigation CSS
Author: OS Templates
Author URI: http://www.os-templates.com/
Licence: <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share Alike 3.0 Unported License</a>
*/

#topnav{
	display:block;
	float:right;
	/*width:650px;*/
	margin:17px 0 0 0;
	padding:0;
	font-size:13px;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	}

#topnav ul{
	margin:0;
	padding:0;
	list-style:none;
	}

#topnav ul, #topnav li{
	float:right;
	list-style:none;
	margin:0;
	padding:0;
	}
	
#topnav ul li a {
    border-radius: 7px;
    -moz-border-radius: 7px;
}

#topnav li a:link, #topnav li a:visited, #topnav li a:hover{
	display:block;
	margin:0 10px 0 0;
	padding:10px 20px;
	color:#FFFFFF;
	background-color:#B5BA96;
	}

#topnav ul ul li a:link, #topnav ul ul li a:visited {
	border:none;
}

#topnav ul li.last a {
	margin-right:0;
}

#topnav li a:hover, #topnav ul li.active a {
	color:#FFFFFF;
	background-color:#919863;
}
	
#topnav li li a:link, #topnav li li a:visited {
	width:150px;
	float:none;
	margin:0;
	padding:7px 10px;
	font-size:12px;
	font-weight:normal;
	color:#FFFFFF;
	background-color:#B5BA96;
	border-left:1px solid #FFFFFF;
}
	
#topnav li li a:hover {
	color:#FFFFFF;
	background-color:#919863;
}

#topnav li ul {
	z-index:9999;
	position: absolute;
	left: -999em;
	height:auto;
	width:170px;
}

#topnav li ul a{width: 140px;}

#topnav li ul ul{margin: -32px 0 0 0;}

#topnav li:hover ul ul{left: -999em;}

#topnav li:hover ul, #topnav li li:hover ul{left:auto;}

#topnav li:hover{ position: static;}

#topnav li.last a{margin-right:0;}

/* ----------------------------------------------Column Navigation-------------------------------------*/

#column .subnav{display:block; width:250px; padding:25px; background-color:#F9F9F9; margin-bottom:30px;}

#column .subnav h2{
	margin:0 0 20px 0;
	padding:0 0 14px 0;
	font-size:20px;
	font-weight:normal;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#666666;
	background-color:#F9F9F9;
	line-height:normal;
	border-bottom:1px dotted #666666;
}

#column .subnav ul{
	margin:0;
	padding:0;
	list-style:none;
	}

#column .subnav li{
	margin:0 0 3px 0;
	padding:0;
	}

#column .subnav ul ul, #column .subnav ul ul ul, #column .subnav ul ul ul ul, #column .subnav ul ul ul ul ul{border-top:none; padding-top:0;}

#column .subnav a{
	display:block;
	margin:0;
	padding:5px 10px 5px 20px;
	color:#777777;
	background:url(../img/orange_file.gif) no-repeat 10px center #F9F9F9;
	text-decoration:none;
	border-bottom:1px dotted #666666;
	}

#column .subnav a:hover{color:#FF9000; background-color:#F9F9F9;}

#column .subnav ul ul a, #column .subnav ul ul ul a, #column .subnav ul ul ul ul a, #column .subnav ul ul ul ul ul a{background:url(../img/black_file.gif) no-repeat #F9F9F9;}
#column .subnav ul ul a{padding-left:40px; background-position:30px center;}
#column .subnav ul ul ul a{padding-left:50px; background-position:40px center;}
#column .subnav ul ul ul ul a{padding-left:60px; background-position:50px center;}
#column .subnav ul ul ul ul ul a{padding-left:70px; background-position:60px center;}
