.hidden-move-list { display: none; }

.inline { display: inline; }

.game-header {
	margin-bottom:15px;
}

.game-view {
	overflow:hidden;
	width:100%;

	.game-panel {
		float:left;

		h3 {
			font-weight:bold;
			margin:0;
			text-align:center;
		}
	}

	.player-list-panel, .player-panel {
		margin:2px;
		border:2px solid #A2D1F5;
		padding:5px;
	}

	.board-panel {
		padding-left:15px;
		float:left;
		margin-bottom:4px;
	}
}

.player-list-panel {
	.player-list {
		.player-name { font-weight:bold; }
	}

	ul {
		margin: 0;

		li {
			list-style-position: outside;
			margin-top: 10px;
		}
	}
}

.side-panel {
	min-height:200px;
	min-width:140px;
	position:relative;

	.player-status {
		text-align: left;
		margin: 4px auto;

		h4 {
			text-align: center;
			font-weight: bold;
			margin: 0;
		}
	}

	.player-details {
		max-width:175px;
	}

	.info-list {
		margin:0;
		padding:0;
		list-style-position:inside;

		.player-name { font-weight:bolder; }

		.your-turn {
			padding:4px 0;
			list-style-image:url('../img/myturn.gif');
		}
		.winner-player {
			padding:4px 0;
			list-style-image:url('../img/info.gif');

			.score { font-weight:bolder; }
		}
		.game-over {
			padding:4px 0;
			list-style-image:url('../img/over.gif');
		}
		.not-your-turn {
			padding:4px 0;
			list-style-image:url('../img/opturn.gif');
		}

		.moves-for-player {
			list-style-type:circle;
			margin-bottom:10px;

			&.empty {
				display: none;
			}

			.single { display: none; }
			&.single {
				.hotseat { display: none; }
				.single { display: inline; }
			}

			.list {
				margin:0;
				padding-left:10px;
				list-style-type:square;
			}
		}
	}
}

.play-or-wait-area {
	margin:4px;
	text-align:center;
	clear:both;

	#auto-play-checkbox {
		margin-right: 0;
		display: none;
	}

	#loading { display:none; }

	#auto-play-checkbox-label {
		margin: 0;
		font-size: 0.9em;
		height: 100%;
		vertical-align: text-top;

		&:hover {
			text-decoration: underline;
		}
	}
}

#message-area {
	clear:both;
	margin:4x;
	text-align:left;
	
	.message-text {
		font-size: 1.2em;
		max-width: 600px;
		padding: 2px;
		word-wrap: break-word;
	}
}

#board-image-repository {
	display: none;
}

.canvas-border {
	border: 1px solid rgb(204, 204, 204);
	padding: 4px;
	max-height: 768px;
	max-width: 1024px;
	overflow: auto;
	line-height: 0;
}

.canvas-border canvas {
	line-height: 1em;
}
