.hidden-move-list {
  display: none;
}
.inline {
  display: inline;
}
.game-header {
  margin-bottom: 15px;
}
.game-view {
  overflow: hidden;
  width: 100%;
}
.game-view .game-panel {
  float: left;
}
.game-view .game-panel h3 {
  font-weight: bold;
  margin: 0;
  text-align: center;
}
.game-view .player-list-panel,
.game-view .player-panel {
  margin: 2px;
  border: 2px solid #a2d1f5;
  padding: 5px;
}
.game-view .board-panel {
  padding-left: 15px;
  float: left;
  margin-bottom: 4px;
}
.player-list-panel .player-list .player-name {
  font-weight: bold;
}
.player-list-panel ul {
  margin: 0;
}
.player-list-panel ul li {
  list-style-position: outside;
  margin-top: 10px;
}
.side-panel {
  min-height: 200px;
  min-width: 140px;
  position: relative;
}
.side-panel .player-status {
  text-align: left;
  margin: 4px auto;
}
.side-panel .player-status h4 {
  text-align: center;
  font-weight: bold;
  margin: 0;
}
.side-panel .player-details {
  max-width: 175px;
}
.side-panel .info-list {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}
.side-panel .info-list .player-name {
  font-weight: bolder;
}
.side-panel .info-list .your-turn {
  padding: 4px 0;
  list-style-image: url('../img/myturn.gif');
}
.side-panel .info-list .winner-player {
  padding: 4px 0;
  list-style-image: url('../img/info.gif');
}
.side-panel .info-list .winner-player .score {
  font-weight: bolder;
}
.side-panel .info-list .game-over {
  padding: 4px 0;
  list-style-image: url('../img/over.gif');
}
.side-panel .info-list .not-your-turn {
  padding: 4px 0;
  list-style-image: url('../img/opturn.gif');
}
.side-panel .info-list .moves-for-player {
  list-style-type: circle;
  margin-bottom: 10px;
}
.side-panel .info-list .moves-for-player.empty {
  display: none;
}
.side-panel .info-list .moves-for-player .single {
  display: none;
}
.side-panel .info-list .moves-for-player.single .hotseat {
  display: none;
}
.side-panel .info-list .moves-for-player.single .single {
  display: inline;
}
.side-panel .info-list .moves-for-player .list {
  margin: 0;
  padding-left: 10px;
  list-style-type: square;
}
.play-or-wait-area {
  margin: 4px;
  text-align: center;
  clear: both;
}
.play-or-wait-area #auto-play-checkbox {
  margin-right: 0;
  display: none;
}
.play-or-wait-area #loading {
  display: none;
}
.play-or-wait-area #auto-play-checkbox-label {
  margin: 0;
  font-size: 0.9em;
  height: 100%;
  vertical-align: text-top;
}
.play-or-wait-area #auto-play-checkbox-label:hover {
  text-decoration: underline;
}
#message-area {
  clear: both;
  margin: 4x;
  text-align: left;
}
#message-area .message-text {
  font-size: 1.2em;
  max-width: 600px;
  padding: 2px;
  word-wrap: break-word;
}
#board-image-repository {
  display: none;
}
.canvas-border {
  border: 1px solid #cccccc;
  padding: 4px;
  max-height: 768px;
  max-width: 1024px;
  overflow: auto;
  line-height: 0;
}
.canvas-border canvas {
  line-height: 1em;
}
